.background-image-wrapper
  .welcome-block
    .container{:style => "text-align:center"}
      %h1 Editing applicant

      = render 'form'

      = link_to 'Show', @applicant, :class => "btn btn-primary", :style => "color:#ffffff"
      \|
      = link_to 'Back', applicants_path, :class => "btn btn-primary", :style => "color:#ffffff"
