.background-image-wrapper
  .welcome-block
    .container
      %h1 Editing property

      = render 'form'

      = link_to 'Show', @property, :class => "btn btn-primary", :style => "color:#ffffff"
      \|
      = link_to 'Back', properties_path, :class => "btn btn-primary", :style => "color:#ffffff"
