!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      A new applicant has applied online
    %h4
      Personal Info:
    %p
      =@firstname
    %p
      =@lastname
    %p
      =@telephone
    %p
      =@email
    %p
      =@address
    %p
      =@income
    %h4
      Landlord Info:
    %p
      =@landlord
    %p
      =@landlordnum
    %h4
      Employer Info:
    %p
      =@employer
    %p
      =@employername
    %p
      =@employernum
