// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "colors";
img{
  width: 100%;
  margin: auto;
}
.item{
  max-block-size: 300px;
}
//  div.c-wrapper{
//     width: 80%; /* for example */
//     margin: auto;
// }
//
// .carousel-inner > .item > img,
// .carousel-inner > .item > a > img{
// width: 100%; /* use this, or not */
// margin: auto;
// }
.img-custom{
  max-block-size:500px;
}
.welcome-block{
  padding-bottom: 70px;
}
.properties-block {
  padding: 15px;
  margin-top:70px;
  margin-bottom: 70px;
  background-color: rgba(0,0,0,0.5);
  h1 {
    color: #ffffff;
    font-size: 2.9rem;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-weight: normal;
    text-align: center;
    letter-spacing: 4px;
    &.red {
      color: $cdap_red;
    }
  }
  h2 {
    // color: #8D99B8;
    color: #ffffff;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-weight: normal;
    text-align: center;
    letter-spacing: 4px;
    &.red {
      color: $cdap_red;
    }
  }
  hr {
    margin: 20px 40%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 0;
    &.red {
      background-color: $cdap_red;
    }
    &.grey {
      background-color: #e3e3e3;
    }
  }
}
