.background-image-wrapper
  .welcome-block
    .container
      %h1 Editing Property Attachment

      = render 'form'

      = link_to 'Show', @property_attachment, :class => "btn btn-primary", :style => "color:#ffffff", :class => "btn btn-primary", :style => "color:#ffffff"
      \|
      = link_to 'Back', property_path(@property_attachment.property_id), :class => "btn btn-primary", :style => "color:#ffffff"
