.background-image-wrapper
  .welcome-block
    .container
      %h1 Our Apologies,
      %h2 Something seems to have go wrong on our end.
      %h2 We've made a log of this crash, so that we can patch it.
      %h2 Sorry for the inconvenience.
