%footer{:style => "background-color:#263137;", :bottom => "0px"}
  .container{:align => "center", :bottom => "0px"}
    .row
      -# .col-lg-3
      -#   %h5 Akridge LLC.
      -# .col-lg-3
      -#   %h5 Info
      -#   %p{:style => "color: #fff;"}
      -#     =link_to "Home", root_path, class: "footerLink"
      -#     %br/
      -#     =link_to "Apply", nil, class: "footerLink"
      -#     %br/
      -#     =link_to "About", nil, class: "footerLink"
      -#     %br/
      -#     =link_to "Contact", nil, class: "footerLink"


      .col-lg-3
        -# %h5{:style => "color:#9d9d9d;"} Contact
        %p{:style => "color:#9d9d9d;"}
          Akridge LLC.
          %br>/
          Main Street
          %br>/
          123 Zoz Ave.
          %br>/
          Warner Robins, GA 31088
          %br/
          %i.fa.fa-phone{"aria-hidden" => "true"}
          478.123.4567
    %p{:style => "color: #9d9d9d"}  
    .container
      .row
        .col-lg-12
          %p.copyright.text-muted.small Copyright © Akridge LLC. 2017. All Rights Reserved
